<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <b>USER ACCESS</b>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" ng-init="init()">
               <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>User Tipe</th>
                                <th>Jabatan</th>
                                <th>Email</th>
                                <th>Ponsel</th>
                                <th>Ext #</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="items in listShip" ng-click="showDetailShip(items)">
                                <td>{{items.rowNum}}</td>
                                <td>{{items.aspOrg}}</td>
                                <td>{{items.des}}</td>
                                <td>{{items.phone}}</td>
                                <td>{{items.nama}}</td>
                                <td>{{items.type}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <section>
                    <div class="row">
                        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
                            <div style="margin-left: 5px;">
                                Record :
                                <select id="jmlBaris" ng-change="changeRecords()" ng-model="pageSize" ng-options="page.no as page.no for page in pageSizeNo"
                                    style="background-color: transparent;border: 0px;width: 60px;">
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-10 col-md-10 col-lg-10">
                            <div class="row" style="float:right;margin-right:5px;margin-bottom:-20px;margin-top: -15px;">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link">
                                                <button class="btn-page" ng-click="backPage()" ng-disabled="currentPage == 0">
                                                    <i aria-hidden="true" class="fa fa-angle-left">
                                                    </i>
                                                </button>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" disabled="">
                                                <button class="btn-page">
                                                    {{currentPage
                                                    + 1}}/{{numberOfPages()}}
                                                </button>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link">
                                                <button class="btn-page" ng-click="nextPage()" ng-disabled="currentPage >= records / pageSize - 1">
                                                    <i aria-hidden="true" class="fa fa-angle-right">
                                                    </i>
                                                </button>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </section>
        </form>
    </div>
</div>