<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <b>WA BLASTING UPDATE</b>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" ng-init="init()">
          <div class="form-group">
              <label class="control-label col-sm-3 col-md-3 col-lg-3 col-xs-3">Tipe Status</label>
              <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                  <select class="form-control select" ng-model="status" required>
                      <option value="" disabled>Pilih...</option>
                      <option value="BALAS POSITIF">Balas Positif</option>
                      <option value="BALAS NEGATIF">Balas Negatif</option>
                      <option value="TIDAK BALAS">Tidak Balas</option>
                  </select>
              </div>
          </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3 col-xs-3">Nama </label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                    <input type="text" class="form-control input-sm" placeholder="Masukan nama" ng-model="nama">
                </div>
            </div>
            <div class="form-group">
                    <label class="control-label col-sm-3 col-md-3 col-lg-3 col-xs-3">Nama Usaha</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <input type="text" class="form-control input-sm" placeholder="Masukan nama usaha" ng-model="namaUsaha">
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3 col-xs-3">Kota</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                    <select class="form-control select" ng-model="kota">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-show="showProspek">
                <label class="control-label col-sm-3 col-md-3 col-lg-3 col-xs-3">Tipe Prospek</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                    <div ng-dropdown-multiselect="" options="example8data" selected-model="type" extra-settings="example8settings"></div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 10px;margin-top: 10px;">
                <div class="col-sm-11 col-xs-12">
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="update()"> UPDATE</button>
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="close()"> CLOSE</button>
                </div>
            </div>
        </form>
    </div>
</div>
