<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <b>PERSONAL & MEMBER</b>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" ng-init="init()" style="margin:0px 10px 0px 10px;">
                <div class="form-group">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="form-group" style="float:right;">
                            <input type="checkbox" class="flat" ng-model="textBlacklist"/> Blacklist
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Email </label>
                    <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                        <input type="text" class="form-control input-sm" id="email" name="email" placeholder="Masukan email" ng-model="textEmail">
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-12">No Ponsel</label>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10">
                    <input type="text" class="form-control input-sm" id="noPonsel" name="noPonsel" placeholder="Masukan nomor ponsel" ng-model="textNoPonsel">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-2">Active Date</label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" id="activeDate" name="activeDate" placeholder="DD/MM/YYYY" ng-model="textActiveDate">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Lengkap </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaLengkap" name="namaLengkap" placeholder="Masukan nama lengkap" ng-model="textNamaLengkap">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Alamat </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="alamat" name="alamat" placeholder="Masukan alamat lengkap" ng-model="textAlamat" cols="13" rows="3" maxlength="200"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kodepos </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodepos" name="kodepos" placeholder="Kodepos" ng-model="textKodepos">
                </div>
                 <div class="col-sm-8 col-md-8 col-lg-8 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kota" name="kota" placeholder="Masukan nama kota" ng-model="textKota" disabled>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Long,Lat </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kota" name="kota" placeholder="Masukan long,lat" ng-model="textLongLat">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">NPWP </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="npwp" name="npwp" placeholder="Masukan nomor npwp" ng-model="textNpwp">
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Pasport/NIK </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="nik" name="nik" placeholder="Masukan NIK"  ng-model="textNik">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Jenis Kelamin </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                   <select class="form-control select" ng-model="textJenisKelamin">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Shipping Freq</label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="number" class="form-control input-sm" id="shippingFreq" name="shippingFreq" ng-model="textShippingFreq">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Service Usage </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textServiceUsage">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Birth Date</label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="number" class="form-control input-sm" id="birthDate" name="birthDate" ng-model="textBirthDate">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Occupation </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textOccupation">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Company </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="company" name="company" placeholder="Masukan nama perusahaan" ng-model="textCompany">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Position Name </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="positionName" name="positionName" placeholder="Masukan posisi" ng-model="textPositionName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Alamat </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="alamatPerusahaan" name="alamatPerusahaan" placeholder="Masukan alamat lengkap"
                        ng-model="textPerusahaan" cols="13" rows="3" maxlength="200"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kodepos </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodeposPerusahaan" name="kodeposPerusahaan" placeholder="Kodepos" ng-model="textKodeposPerusahaan">
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kotaPerusahaan" name="kotaPerusahaan" placeholder="Masukan nama kota" ng-model="textKotaPerusahaan"
                        disabled>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Ret Stamp Disc </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                   <select class="form-control select" ng-model="textProspectTipe">
                        <option value="PCC">PCC</option>
                        <option value="STAMDART">STAMDART</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Oth Stamp Disc</label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <select class="form-control select" ng-model="textProspectTipe">
                        <!-- <option value="JNE">JNE</option>
                        <option value="TIKI">TIKI</option> -->
                    </select>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 10px;margin-top: 10px;">
                    <div class="col-sm-4 col-xs-4">
                        <button class="btn btn-dark btn-load" style="float: right;">PASPORT/NIK</button>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <button class="btn btn-dark btn-load" style="float: right;" ng-click="save()"> SIMPAN</button>
                    </div>
            </div>
        </form>
    </div>
</div>