<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <b>PROSPECT</b>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" ng-init="init()" style="margin:0px 10px 0px 10px;">
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-12">Nama Sales</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                   <input type="text" class="form-control input-sm" id="namaSales" name="namaSales" placeholder="Masukan nama sales" ng-model="textNamaSales" disabled>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <div class="form-group">
                        <input type="checkbox" class="flat" ng-model="textBlacklist" /> Release
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-12">Bidang Usaha</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                    <select class="form-control select" ng-model="textBidangUsaha">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <div class="form-group">
                        <input type="checkbox" class="flat" ng-model="textBlacklist" /> Blacklist
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Perusahaan </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaPerusahaan" name="namaPerusahaan" placeholder="Masukan nama perusahaan" ng-model="textNamaPerusahaan">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Usaha/Brand </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaUsaha" name="namaUsaha" placeholder="Masukan nama usaha/brand" ng-model="textNamaUsaha">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Alamat </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="alamat" name="alamat" placeholder="Masukan alamat lengkap" ng-model="textAlamat" cols="13" rows="3" maxlength="200"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kodepos </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodepos" name="kodepos" placeholder="Kodepos" ng-model="textKodepos">
                </div>
                 <div class="col-sm-8 col-md-8 col-lg-8 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kota" name="kota" placeholder="Masukan nama kota" ng-model="textKota" disabled>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Phone1 </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="phone1" name="phone1" placeholder="phone1" placeholder="Masukan ponsel" ng-model="textPhone1">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Phone2 </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="phone2" name="phone3" placeholder="Masukan ponsel" ng-model="textkota">
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Phone3 </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodepos" name="kodepos" placeholder="Kodepos" placeholder="Masukan ponsel" ng-model="textkodepos">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Long,Lat </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kota" name="kota" placeholder="Masukan long,lat" ng-model="textLongLat">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Tipe Afiliasi </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                   <select class="form-control select" ng-model="textTipeAfiliasi">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Jumlah Karyawan </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="number" class="form-control input-sm" id="jumlah" name="karyawan" ng-model="textJumlahKaryawan">
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Afiliasi </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaAfiliasi" name="namaAfiliasi" placeholder="Masukan nama Afiliasi" ng-model="textNamaAfiliasi">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Alamat Afiliasi</label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="alamatAfiliasi" name="namaAfiliasi" placeholder="Masukan alamat lengkap Afiliasi" cols="13" rows="3" ng-model="textAlamatAfiliasi" maxlength="200"></textarea> 
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kodepos Afiliasi </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodeposAfiliasi" name="kodeposAfiliasi" placeholder="Kodepos Afiliasi" ng-model="textKodeposAfiliasi">
                </div>
                 <div class="col-sm-8 col-md-8 col-lg-8 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kotaAfiliasi" name="kotaAfiliasi" placeholder="Masukan nama kota" ng-model="textKotaAfiliasi" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Website </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="website" name="website" placeholder="Masukan nama website" ng-model="textWebsite">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Frek Kirim </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                   <select class="form-control select" ng-model="textFrekKirim">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Tipe Kiriman </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <select class="form-control select" ng-model="textTipeKiriman">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Estimasi Berat </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="estimasiBerat" name="estimasiBerat" placeholder="0" ng-model="textEstimasiBerat">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Estimasi Omset </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="estimasiOmset" name="estimasiOmset" placeholder="0" ng-model="textEstimasiOmset">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Lainnya </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                   <select class="form-control select" ng-model="textLainnya">
                        <option value="JNE">JNE</option>
                        <option value="TIKI">TIKI</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Omset Lainnya </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="number" class="form-control input-sm" id="omsetLainnya" name="omsetLainnya" placeholder="0" ng-model="textOmsetLainnya">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Keterangan </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="keterangan" name="keterangan" placeholder="Masukan keterangan" cols="13" rows="2" ng-model="textKeterangan" maxlength="200"></textarea> 
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Prospect Tipe </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                   <select class="form-control select" ng-model="textProspectTipe">
                        <option value="PCC">PCC</option>
                        <option value="STAMDART">STAMDART</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3"> </label>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <select class="form-control select" ng-model="textProspectTipe">
                        <!-- <option value="JNE">JNE</option>
                        <option value="TIKI">TIKI</option> -->
                    </select>
                </div>
            </div>



            <div class="form-group" style="margin-bottom: 10px;margin-top: 10px;">
                <div class="col-sm-12 col-xs-12">
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="save()"> SIMPAN</button>
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="close()"> CLOSE</button>
                </div>
            </div>
        </form>
    </div>
</div>