<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <b>SALES INCENTIVE</b>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" ng-init="init()">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs6">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4 col-xs-3">70% </label>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <input type="text" class="form-control input-sm" number-only placeholder="Masukan nominal"
                                maxlength="15" ng-model="ponsel">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs6">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3 col-xs-3">80% </label>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <input type="text" class="form-control input-sm" number-only placeholder="Masukan nominal"
                                maxlength="15" ng-model="ponsel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs6">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4 col-xs-3">90% </label>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <input type="text" class="form-control input-sm" number-only placeholder="Masukan nominal"
                                maxlength="15" ng-model="ponsel">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs6">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3 col-xs-3">100% </label>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <input type="text" class="form-control input-sm" number-only placeholder="Masukan nominal"
                                maxlength="15" ng-model="ponsel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs6">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4 col-xs-4">110% </label>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <input type="text" class="form-control input-sm" number-only placeholder="Masukan nominal" ng-model="ponsel">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs6">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3 col-xs-3">120% </label>
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <input type="text" class="form-control input-sm" number-only placeholder="Masukan nominal"
                                maxlength="15" ng-model="ponsel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 10px;margin-top: 10px;">
                <div class="col-sm-11 col-xs-12">
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="save()"> SIMPAN</button>
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="close()"> CLOSE</button>
                </div>
            </div>
        </form>
    </div>
</div>