<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <b>CORPORATE</b>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" ng-init="init()" style="margin:0px 10px 0px 10px;">
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Perusahaan </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaPerusahaan" name="namaPerusahaan"
                        placeholder="Masukan nama perusahaan" ng-model="textNamaPerusahaan" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Usaha </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaUsaha" name="namaUsaha" placeholder="Masukan nama usaha/brand"
                        ng-model="textNamaUsaha" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Alamat </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="alamat" name="alamat" placeholder="Masukan alamat lengkap"
                        ng-model="textAlamat" cols="13" rows="3" maxlength="200" disabled></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kodepos </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodepos" name="kodepos" placeholder="Kodepos"
                        ng-model="textKodepos" disabled>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kota" name="kota" placeholder="Masukan nama kota"
                        ng-model="textKota" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Ponsel 1 </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                    <input type="text" class="form-control input-sm" id="phone1" name="phone1" ng-model="textPhone1" disabled>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Ponsel 2 </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                    <input type="text" class="form-control input-sm" id="phone2" name="phone2" ng-model="textPhone2" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kode Corporate</label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="taxid" name="kodeCorporate" placeholder="Masukan kode corporate"
                        ng-model="textKodeCorporate" disabled>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Keringanan Dept </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-10">
                    <select class="form-control select" ng-model="textKeringananDept">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-10">
                    <input type="text" class="form-control input-sm" id="dateDetp" name="dateDetp" ng-model="textDateDept"
                        placeholder="DD/MM/YYYY">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nomor Kontrak</label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="nomotKontrak" name="nomotKontrak" placeholder="Masukan nomor kontrak"
                        ng-model="textNomotKontrak" disabled>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Tanggal Kontrak </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-10">
                    <input type="text" class="form-control input-sm" id="tanggalKontrak" name="tanggalKontrak" ng-model="textTanggalKontrak"
                        placeholder="DD/MM/YYYY">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Kontrak </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaKontrak" name="namaKontrak" placeholder="Masukan nama kontrak"
                        ng-model="textNamaKontrak">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Jabatan</label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="jabatan" name="jabatan" placeholder="Masukan jabatan"
                        ng-model="textJabatan">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">No Ponsel </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="ponselJabatan" name="ponselJabatan" ng-model="textPonselJabatan"
                        placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Long,Lat</label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="long" name="long" placeholder="Long" ng-model="textLong">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="lat" name="lat" placeholder="Lat" ng-model="textLat">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Radius Geo Fence</label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="radiusGeoFance" name="radiusGeoFance" ng-model="textRadiusGeoFance"
                        placeholder="Masukan radius geo fance">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">NPWP </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="noNpwp" name="noNpwp" placeholder="0" ng-model="textnoNpwp">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kelas Pajak </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kelasPajak" name="kelasPajak" placeholder="Masukan kelas pajak"
                        ng-model="textKelasPajak">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Tipe Kontrak </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textTipeKontrak">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Discount Ongkir </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <select class="form-control select" ng-model="textDiscOngkir">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Disc Stamp Return </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textDiscStampReturn">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Api Product </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <select class="form-control select" ng-model="textApiProduct">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Pembaharuan </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textDiscStampReturn">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Disc Stamp Lain </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <select class="form-control select" ng-model="textApiProduct">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Siklus Invoice </label>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-2">
                    <select class="form-control select" ng-model="textSiklusInvoice">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-2">
                    <select class="form-control select" ng-model="textSiklusInvoiceValue">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Tanggal Kontrak </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="tanggalKontrakFrom" name="tanggalKontrakFrom"
                        placeholder="DD/MM/YYYY" ng-model="textTanggalKontrakFrom">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="tanggalKontrakTo" name="tanggalKontrakTo"
                        placeholder="DD/MM/YYYY" ng-model="textTanggalKontrakTo">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Credit Term </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textCreditTerm">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Bagian Invoice </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <select class="form-control select" ng-model="textBagianInvoice">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Direct Invoice </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <select class="form-control select" ng-model="textDirectInvoice">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kode Corp Invoice </label>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-7">
                    <input type="text" class="form-control input-sm" id="kodeCorpInvoice" name="kodeCorpInvoice"
                        placeholder="Masukan kode Copr invoice" ng-model="textKodeCorpInvoice" disabled>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-7">
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="check()"> CHECK</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Perusahaan </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaPerusahaanKontak" name="namaPerusahaanKontak"
                        placeholder="Masukan nama perusahaan kontak" ng-model="textNamaPerusahaanKontak" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Usaha </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaUsahaKontak" name="namaUsahaKontak"
                        placeholder="Masukan nama usaha/brand kontak" ng-model="textNamaUsahaKontak" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Alamat </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="alamatKontak" name="alamatKontak"
                        placeholder="Masukan alamat lengkap kontak" ng-model="textAlamatKontak" cols="13" rows="3"
                        maxlength="200"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kodepos </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodeposKontak" name="kodeposKontak"
                        placeholder="KodeposKontak" ng-model="textKodeposKontak">
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kotaKontak" name="kotaKontak" placeholder="Masukan nama kota kontak"
                        ng-model="textKotaKontak" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kontak Invoie/Bayar</label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kontakInvoice" name="kontakInvoice"
                        placeholder="Masukan kontak invoice" ng-model="textKontakInvoice">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Email Kontak </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-10">
                    <input type="text" class="form-control input-sm" id="emailKontak" name="emailKontak" ng-model="textEmailKontak"
                        placeholder="Masukan email kontak">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">No Ponsel </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-10">
                    <input type="text" class="form-control input-sm" id="noPonselKontak" name="noPonselKontak"
                        placeholder="Masukan nomor ponsel kontak" ng-model="textNoPonselKontak">
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Free Return </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6">
                    <select class="form-control select" ng-model="textFerReturn">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6">
                    <input type="text" class="form-control input-sm" id="freeReturnValue" name="freeReturnValue"
                        placeholder="0" ng-model="textFreeReturnValue" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Materai </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textMaterai">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Multiple PUP </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textMultiplePup">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Alih Invoice </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textAlihInvoice">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Pengalihan Invoice </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textPengalihanInvoice">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Tipe Trace </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textTipeTrace">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Facilities </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textFacilities">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Tipe Return </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textTipeReturn">
                        <option value="YES">YES</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kode Corp Return </label>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-7">
                    <input type="text" class="form-control input-sm" id="kodeCorpReturn" name="kodeCorpReturn"
                        placeholder="Masukan kode Copr return" ng-model="textKodeCorpReturn">
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-7">
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="check()"> CHECK</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Perusahaan </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaPerusahaanReturn" name="namaPerusahaanReturn"
                        placeholder="Masukan perusahaan" ng-model="textNamaPerusahaanReturn" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Address</label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="alamatReturn" name="alamatReturn"
                        placeholder="Masukan alamat lengkap return" cols="13" rows="3" ng-model="textReturn" maxlength="200" disabled></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kodepos </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodeposReturn" name="kodeposReturn"
                        placeholder="Kodepos" ng-model="textKodeposReturn" disabled>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kotaReturn" name="kotaReturn" placeholder="Masukan nama kota"
                        ng-model="textKotaReturn" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Tipe Direct </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textDirect">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Nama Perusahaan </label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <input type="text" class="form-control input-sm" id="namaPerusahaanDirect" name="namaPerusahaanDirect"
                        placeholder="Masukan perusahaan" ng-model="textNamaPerusahaanDirect" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Address</label>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                    <textarea type="text" class="form-control input-sm" id="alamatDirect" name="alamatDirect"
                        placeholder="Masukan alamat lengkap " cols="13" rows="3" ng-model="textDirect" maxlength="200" disabled></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Kodepos </label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <input type="text" class="form-control input-sm" id="kodeposDirect" name="kodeposDirect"
                        placeholder="Kodepos" ng-model="textKodeposDirect" disabled>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-10">
                    <input type="text" class="form-control input-sm" id="kotaDirect" name="kotaDirect" placeholder="Masukan nama kota"
                        ng-model="textKotaDirect" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Integrasi API </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textIntergrasiApi">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Bag Invoice API </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-2">
                    <select class="form-control select" ng-model="textBagInvoiceApi">
                        <option value="">All</option>
                        <option ng-repeat="orgdes in listKota" value="{{orgdes[1]}}">{{orgdes[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2 col-lg-2 col-xs-3">Total API Key </label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                    <input type="text" class="form-control input-sm" id="totalApi" name="totalApi" placeholder="0"
                        ng-model="textTotalApi" disabled>
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 10px;margin-top: 10px;">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="save()"> SIMPAN</button>
                    <button class="btn btn-dark btn-load" style="float: right;" ng-click="close()"> CLOSE</button>
                </div>
            </div>
        </form>
    </div>
</div>